@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Akshar:wght@300&family=Josefin+Slab:wght@400&display&family=Roboto:wght@100;300;500&display=swap");
*::selection {
  color: #ffffff;
  background: #9a8762;
}

body {
  font-family: "Akshar", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

.font-brand {
  font-family: "Courgette", cursive;
  font-size: 2rem;
}

.product-image {
  height: 180px;
  width: 180px;
  padding-top: 10px;
}

.retroshadow {
  font-family: "Avant Garde", Avantgarde, "Century Gothaic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 1.7rem;
  color: #ffffff;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 0px #262525, 3px 3px 0px rgba(0, 0, 0, 0.2);
  width: 80%;
  padding: 1.5rem 0.5rem;
  text-rendering: optimizeLegibility;
  border: 0.2rem solid #ffffff;
  box-shadow: 0 0 .5rem 0.1rem black;
  background-color: rgba(0, 0, 0, 0.3);
}

@media all and (min-width: 576px) {
  .retroshadow {
    font-size: 2rem;
    text-shadow: 3px 3px 0px #262525, 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

@media all and (min-width: 768px) {
  .retroshadow {
    padding: 1.5rem 1.7rem;
  }
}

@media all and (min-width: 992px) {
  .retroshadow {
    font-size: 2.5rem;
    text-shadow: 4px 4px 0px #262525, 7px 7px 0px rgba(0, 0, 0, 0.2);
  }
}

.card--mod {
  border-radius: 0;
  transition: 0.5s;
}

.card--mod:hover {
  transform: scale(1.05);
  z-index: 99;
}

.btn-primary--mod {
  background: #8a857b;
  border-color: #95999f;
  font-size: .9rem;
}

.btn-primary--mod:hover, .btn-primary--mod:focus {
  background: #9a8762;
  border-color: #b7b158;
}

.btn-primary--mod:focus {
  box-shadow: 0 0 0 0.25rem rgba(77, 80, 83, 0.5);
}

.bg-gray {
  background-color: #262626;
}

.bg-copyright {
  background-color: #393939;
}

.bg-light-gray {
  background-color: #ccc;
}

.bg-gold-gradient {
  background: linear-gradient(to bottom, #ffffff, #cec3b1, #ae9d7e);
}

#follow-us {
  background: linear-gradient(90deg, #833ab499 20%, #fd1d1da1 40%, #fcb045a6 80%);
  animation: gradient 8s ease infinite;
  background-size: 400% 400%;
}

.bg-section-gold {
  background: white;
  background: linear-gradient(90deg, white 11%, rgba(199, 145, 16, 0.683911) 49%, white 89%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.default-icon, .diamond-icon, .location-icon, .instagram-icon, .warning-icon, .success-icon, .discount-icon, .navbar-toggler-icon--mod {
  background-position: center;
  background-repeat: no-repeat;
}

.diamond-icon {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512%3B' xml:space='preserve'%3E%3Cg%3E%3Cpolygon style='fill:%236AB2CC%3B' points='256 315.307 128.665 172.78 0 172.78 255.999 477.922 256 477.923 '/%3E%3Cpolygon style='fill:%236AB2CC%3B' points='512 172.78 383.335 172.78 383.335 172.781 383.335 172.78 256 315.307 256 477.923 256 477.923 256 477.923 '/%3E%3C/g%3E%3Cg%3E%3Cpolygon style='fill:%237DD2F0%3B' points='128.665 172.78 256 477.923 383.335 172.78 '/%3E%3Cpolygon style='fill:%237DD2F0%3B' points='192.715 34.077 82.632 34.077 0 172.78 128.664 172.78 128.665 172.78 256 103.461 '/%3E%3Cpolygon style='fill:%237DD2F0%3B' points='429.368 34.077 319.285 34.077 319.285 34.077 256 103.461 383.335 172.78 383.335 172.78 512 172.78 '/%3E%3C/g%3E%3Cpolygon style='fill:%236AB2CC%3B' points='192.715 34.077 128.665 172.78 383.335 172.78 319.285 34.077 '/%3E%3C/svg%3E");
  width: 35px;
  height: 35px;
}

.location-icon {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 491.52 491.52' style='enable-background:new 0 0 491.52 491.52%3B' xml:space='preserve'%3E%3Cpath style='fill:%23E56353%3B' d='M83.292 162.468c0 89.728 162.468 329.052 162.468 329.052V0C156.032 0 83.292 72.74 83.292 162.468z'/%3E%3Cpath style='fill:%23D15241%3B' d='M245.76 0v491.52c0 0 162.468-239.324 162.468-329.052S335.488 0 245.76 0z'/%3E%3Ccircle style='fill:%23EBF0F3%3B' cx='245.76' cy='162.468' r='102.047'/%3E%3C/svg%3E");
  width: 25px;
  height: 25px;
}

.instagram-icon {
  background-image: url("data:image/svg+xml,%3Csvg class='me-1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='50' height='50' viewBox='0 0 172 172' style=' fill:%23ffffff%3B'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0 172v-172h172v172z' fill='none'%3E%3C/path%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M55.04 10.32c-24.65626 0 -44.72 20.06374 -44.72 44.72v61.92c0 24.65626 20.06374 44.72 44.72 44.72h61.92c24.65626 0 44.72 -20.06374 44.72 -44.72v-61.92c0 -24.65626 -20.06374 -44.72 -44.72 -44.72zM55.04 17.2h61.92c20.9375 0 37.84 16.9025 37.84 37.84v61.92c0 20.9375 -16.9025 37.84 -37.84 37.84h-61.92c-20.9375 0 -37.84 -16.9025 -37.84 -37.84v-61.92c0 -20.9375 16.9025 -37.84 37.84 -37.84zM127.28 37.84c-3.79972 0 -6.88 3.08028 -6.88 6.88c0 3.79972 3.08028 6.88 6.88 6.88c3.79972 0 6.88 -3.08028 6.88 -6.88c0 -3.79972 -3.08028 -6.88 -6.88 -6.88zM86 48.16c-20.85771 0 -37.84 16.98229 -37.84 37.84c0 20.85771 16.98229 37.84 37.84 37.84c20.85771 0 37.84 -16.98229 37.84 -37.84c0 -20.85771 -16.98229 -37.84 -37.84 -37.84zM86 55.04c17.13948 0 30.96 13.82052 30.96 30.96c0 17.13948 -13.82052 30.96 -30.96 30.96c-17.13948 0 -30.96 -13.82052 -30.96 -30.96c0 -17.13948 13.82052 -30.96 30.96 -30.96z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 60px;
  height: 60px;
}

.warning-icon {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 511.999 511.999' xml:space='preserve'%3E%3Cpath style='fill:%23FF8800%3B' d='M470.856 483.152H41.143c-31.629 0-51.393-34.215-35.574-61.616L220.426 49.395 c15.814-27.391 55.327-27.401 71.147 0L506.43 421.536C522.243 448.927 502.496 483.152 470.856 483.152z'/%3E%3Cpath style='fill:%23EE7E22%3B' d='M506.43 421.536L291.573 49.395c-7.304-12.65-20.484-20.539-35.574-20.539v454.296h214.857 C502.484 483.152 522.25 448.938 506.43 421.536z'/%3E%3Cg%3E%3Cpath style='fill:%23FFFFFF%3B' d='M256 330.523c-10.394 0-18.821-8.427-18.821-18.821v-107.89c0-10.394 8.427-18.821 18.821-18.821 s18.821 8.427 18.821 18.821v107.89C274.821 322.097 266.394 330.523 256 330.523z'/%3E%3Cpath style='fill:%23FFFFFF%3B' d='M256 403.855c-10.394 0-18.821-8.427-18.821-18.821v-11.239c0-10.394 8.427-18.821 18.821-18.821 s18.821 8.427 18.821 18.821v11.239C274.821 395.428 266.394 403.855 256 403.855z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='fill:%23FFFFFF%3B' d='M256 184.991L256 184.991v145.533l0 0c10.394 0 18.821-8.427 18.821-18.821v-107.89 C274.821 193.418 266.394 184.991 256 184.991z'/%3E%3Cpath style='fill:%23FFFFFF%3B' d='M256 354.974L256 354.974v48.881l0 0c10.394 0 18.821-8.427 18.821-18.821v-11.239 C274.821 363.401 266.394 354.974 256 354.974z'/%3E%3C/g%3E%3C/svg%3E");
  width: 25px;
  height: 25px;
}

.success-icon {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Ccircle style='fill:%2325AE88%3B' cx='25' cy='25' r='25'/%3E%3Cpolyline style='fill:none%3Bstroke:%23FFFFFF%3Bstroke-width:2%3Bstroke-linecap:round%3Bstroke-linejoin:round%3Bstroke-miterlimit:10%3B' points='38 15 22 33 12 25 '/%3E%3C/svg%3E");
  width: 25px;
  height: 25px;
}

.discount-icon {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 288.359 288.359' style='enable-background:new 0 0 288.359 288.359%3B' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M283.38 4.98c-3.311-3.311-7.842-5.109-12.522-4.972L163.754 3.166c-4.334 0.128-8.454 1.906-11.52 4.972L4.979 155.394c-6.639 6.639-6.639 17.402 0 24.041L108.924 283.38c6.639 6.639 17.402 6.639 24.041 0l147.256-147.256c3.065-3.065 4.844-7.186 4.972-11.52l3.159-107.103C288.49 12.821 286.691 8.291 283.38 4.98z M247.831 130.706L123.128 255.407c-1.785 1.785-4.679 1.785-6.464 0l-83.712-83.712c-1.785-1.785-1.785-4.679 0-6.464L157.654 40.529c1.785-1.785 4.679-1.785 6.464 0l83.713 83.713C249.616 126.027 249.616 128.921 247.831 130.706z M263.56 47.691c-6.321 6.322-16.57 6.322-22.892 0c-6.322-6.321-6.322-16.57 0-22.892c6.321-6.322 16.569-6.322 22.892 0C269.882 31.121 269.882 41.37 263.56 47.691z' fill='%23a10000' class='color000 svgShape'/%3E%3Cpath d='M99.697 181.278c-5.457 2.456-8.051 3.32-10.006 1.364c-1.592-1.591-1.5-4.411 1.501-7.412c1.458-1.458 2.927-2.52 4.26-3.298c1.896-1.106 2.549-3.528 1.467-5.438l-0.018-0.029c-0.544-0.96-1.455-1.658-2.522-1.939c-1.067-0.279-2.202-0.116-3.147 0.453c-1.751 1.054-3.64 2.48-5.587 4.428c-7.232 7.23-7.595 15.599-2.365 20.829c4.457 4.457 10.597 3.956 17.463 0.637c5.004-2.364 7.55-2.729 9.46-0.819c2.002 2.002 1.638 5.004-1.545 8.186c-1.694 1.694-3.672 3.044-5.582 4.06c-0.994 0.528-1.728 1.44-2.027 2.525c-0.3 1.085-0.139 2.245 0.443 3.208l0.036 0.06c1.143 1.889 3.575 2.531 5.503 1.457c2.229-1.241 4.732-3.044 6.902-5.215c8.412-8.412 8.002-16.736 2.864-21.875C112.475 178.141 107.109 177.868 99.697 181.278z'/%3E%3Cpath d='M150.245 157.91l-31.508-16.594c-1.559-0.821-3.47-0.531-4.716 0.714l-4.897 4.898c-1.25 1.25-1.537 3.169-0.707 4.73l16.834 31.654c0.717 1.347 2.029 2.274 3.538 2.5c1.509 0.225 3.035-0.278 4.114-1.357c1.528-1.528 1.851-3.89 0.786-5.771l-3.884-6.866l8.777-8.777l6.944 3.734c1.952 1.05 4.361 0.696 5.928-0.871c1.129-1.129 1.654-2.726 1.415-4.303C152.63 160.023 151.657 158.653 150.245 157.91z M125.621 165.632c0 0-7.822-13.37-9.187-15.644l0.091-0.092c2.274 1.364 15.872 8.959 15.872 8.959L125.621 165.632z'/%3E%3Cpath d='M173.694 133.727c-1.092 0-2.139 0.434-2.911 1.205l-9.278 9.278l-21.352-21.352c-0.923-0.923-2.175-1.441-3.479-1.441s-2.557 0.519-3.479 1.441c-1.922 1.922-1.922 5.037 0 6.958l24.331 24.332c1.57 1.569 4.115 1.569 5.685 0l13.395-13.395c1.607-1.607 1.607-4.213 0-5.821C175.833 134.16 174.786 133.727 173.694 133.727z'/%3E%3Cpath d='M194.638 111.35l-9.755 9.755l-7.276-7.277l8.459-8.458c1.557-1.558 1.557-4.081-0.001-5.639c-1.557-1.557-4.082-1.557-5.639 0l-8.458 8.458l-6.367-6.366l9.117-9.117c1.57-1.57 1.57-4.115 0-5.686c-0.754-0.755-1.776-1.179-2.843-1.179c-1.066 0-2.089 0.424-2.843 1.178l-13.234 13.233c-0.753 0.754-1.177 1.776-1.177 2.843c0 1.066 0.424 2.089 1.178 2.843l24.968 24.968c1.57 1.569 4.115 1.569 5.685 0l13.87-13.87c1.57-1.57 1.57-4.115 0-5.686C198.752 109.78 196.208 109.78 194.638 111.35z'/%3E%3C/g%3E%3C/svg%3E");
  width: 70px;
  height: 70px;
}

.navbar-toggler--mod {
  color: #9a8762;
  border-color: #9a8762;
}

.navbar-toggler-icon--mod {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512%3B' version='1.1' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23b79a00 %3B%7D.st1%7Bfill:none%3Bstroke:%23b79a00 %3Bstroke-width:32%3Bstroke-linecap:round%3Bstroke-linejoin:round%3Bstroke-miterlimit:10%3B%7D%3C/style%3E%3Cg id='Layer_1'/%3E%3Cg id='Layer_2'%3E%3Cg%3E%3Cg%3E%3Ccircle class='st0' cx='418.47' cy='256' r='50.03'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cx='256' cy='256' r='50.03'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cx='93.53' cy='256' r='50.03'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
  width: 30px;
  height: 30px;
}

.carousel-control-prev-icon--mod, .carousel-control-next-icon--mod {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 54 54' style='enable-background:new 0 0 54 54%3B' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23a89878%3B' d='M27 53L27 53C12.641 53 1 41.359 1 27v0C1 12.641 12.641 1 27 1h0c14.359 0 26 11.641 26 26v0C53 41.359 41.359 53 27 53z'/%3E%3Cpath style='fill:%23a89878%3B' d='M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27S41.888 54 27 54z M27 2C13.215 2 2 13.215 2 27s11.215 25 25 25s25-11.215 25-25S40.785 2 27 2z'/%3E%3C/g%3E%3Cpath style='fill:%23FFFFFF%3B' d='M27 41.5c-0.552 0-1-0.447-1-1v-26c0-0.553 0.448-1 1-1s1 0.447 1 1v26C28 41.053 27.552 41.5 27 41.5z'/%3E%3Cpolygon style='fill:%23FFFFFF%3B' points='36.293 24.207 27 14.914 17.707 24.207 16.293 22.793 27 12.086 37.707 22.793 '/%3E%3C/g%3E%3C/svg%3E");
}

.navbar-toggler--mod {
  color: #9a8762;
  border-color: #624e00;
}

#menu > li:hover {
  background: #9a8762;
}

#menu li a {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

.carousel-control-prev-icon--mod {
  transform: rotate(270deg);
}

.carousel-control-next-icon--mod {
  transform: rotate(90deg);
}

.font-section {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

@media all and (min-width: 768px) {
  .font-section {
    font-size: 2.5rem;
  }
}

.form-control--mod:focus {
  border-color: #887145;
  box-shadow: none;
}

.font-color-highlight {
  color: #9a8762;
}

@media all and (max-width: 650px) {
  div.card--mod {
    width: 50%;
  }
}

@media all and (max-width: 420px) {
  div.card--mod {
    width: 100%;
  }
}

.form-check-input--mod:checked {
  background-color: #887145;
  border-color: #b7b158;
}

.form-check-input--mod:focus {
  box-shadow: none;
  border-color: #95999f;
}

.chat-button {
  z-index: 999;
  position: fixed;
  bottom: 60px;
  right: 30px;
}

.chat-button:hover {
  cursor: pointer;
  animation: shake 300ms;
}

@media all and (max-width: 900px) {
  .chat-button {
    right: 15px;
  }
}

@media all and (max-width: 900px) {
  .chat-button img {
    height: 50px;
    width: 50px;
  }
}

@keyframes shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.information-card {
  background: transparent;
}

.information-card img:hover {
  transition: all .3s ease-in-out;
  opacity: .5;
}

.information-card .card-body > span {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #9a8762;
}

.information-card p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  text-align: justify;
  text-justify: inter-word;
}

.button-see-more {
  position: relative;
  padding: 0.4rem 2rem;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  color: white;
  background-color: #aa9696ad;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.button-see-more::before, .button-see-more::after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: 1;
}

.button-see-more:hover {
  color: white;
  transition-delay: .5s;
}

.button-see-more:hover::before {
  transition-delay: 0s;
}

.button-see-more:hover::after {
  background: #9a8762;
  transition-delay: .35s;
}

.from-left::before, .from-left::after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left::before {
  right: 0;
  border: 1px solid #9a8762;
  border-left: 0;
  border-right: 0;
}

.from-left::after {
  left: 0;
}

.from-left:hover::before, .from-left:hover::after {
  width: 100%;
}

.button-see-more span {
  z-index: 2;
  position: relative;
}

#warning-window button, #success-window button {
  background-color: #9a8762;
}

textarea#form-message {
  height: 250px;
}

.product-price {
  color: #8a857b;
  border: 2px solid #8a857b;
  padding: inherit;
  font-weight: 600;
  font-size: 1.1rem;
}

.product-discount-price {
  color: #d70606;
  font-size: 1rem;
  text-decoration: line-through;
}
